data/
datasets/
splits/
i3d_features/
google_features/
output_dir/
*.out
*.sbatch
i3d_features--lr=5e-05--l2_req=1e-05/
i3d_features_lr5e-05_l2req1e-05/
i3d_features_lr5e-05_l2req0.0001/
i3d_features_lr5e-05_l2req0.001/
i3d_features_lr0.0005_l2req1e-05/
i3d_features_lr0.0005_l2req0.0001/
i3d_features_lr0.0005_l2req0.001/
i3d_features_lr0.005_l2req1e-05/
i3d_features_lr0.005_l2req0.0001/
i3d_features_*
google_features_*
i3dvsgoogle_fscore_validation.svg
